<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styleIndData.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/navBar.ejs') %>
    <div class="actorData">
      <div>
        <h3>Actor / actress:</h3>
        <div><%= profile.actor_name %></div>
      </div>
      <div>
        <h3>Age:</h3>
        <div><%= profile.actor_age %></div>
      </div>
      <div>
        <h3>Oscars:</h3>
        <div><%= profile.actor_oscars %></div>
      </div>
      <div>
        <h3>Movie:</h3>
        <div><%= profile.movie_name %></div>
      </div>
      <div>
        <h3>Movie year of release:</h3>
        <div><%= profile.movie_year_of_release %></div>
      </div>
      <a href="/profile/<%= profile.id %>/update">Update</a>
      <a href="/profile/<%= profile.id %>/delete">Delete</a>
    </div>
  </body>
</html>
